$--xxhls--banner-backgroundColor: #2aae67;
$--xxhls--banner-background-width: 150%;
$--xxhls--banner-paddingTop: 152px;
$--xxhls--banner-paddingBottom: 112px;
$--xxhls--logo-width: 180px;
$--xxhls--logo-height: 56px;
$--xxhls--logo-paddingBottom: 56px;
$--xxhls--changelog-width: 500px;
$--xxhls--changelog-paddingTop: 24px;
$--xxhls--changelog-item-height: 32px;
$--xxhls--changelog-item-gap: 10px;
$--xxhls--changelog-item-fontSize: 20px;
$--xxhls--changelog-item-color: hsl(0deg 0% 100% / 90%);
$--xxhls--changelog-item-data-color: hsl(0deg 0% 100% / 70%);
$--xxhls--changelog-items-paddingBottom: 10px;
$--xxhls--changelog-border-height: 1px;
$--xxhls--changelog-border-color: hsl(0deg 0% 100% / 30%);
$--xxhls--changelog-more-color: hsl(0deg 0% 100% / 90%);
$--xxhls--changelog-more-fontSize: 20px;
$--xxhls--changelog-more-height: 48px;
$--xxhls--changelog-more-paddingTop: 16px;
$--xxhls--changelog-more-icon-marginLeft: 5px;
$--xxhls--download-paddingTop: 72px;
$--xxhls--download-gap: 32px;
$--xxhls--download-item-size: 120px;
$--xxhls--download-item-icon-size: 40px;
$--xxhls--download-item-text-paddingTop: 4px;
$--xxhls--download-item-text-fontSize: 14px;
$--xxhls--download-item-text-lineHeight: 1.4;
$--xxhls--download-item-color: hsl(0deg 0% 100% / 90%);
$--xxhls--download-item-background-color: hsl(0deg 0% 100% / 7%);
$--xxhls--download-item-background-color__hover: hsl(0deg 0% 100% / 15%);
$--xxhls--others-gap: 32px;
$--xxhls--others-paddingTop: 56px;
$--xxhls--others-item-paddingBottom: 16px;
$--xxhls--others-item-color: hsl(0deg 0% 100% / 90%);
$--xxhls--others-item-background-color: hsl(0deg 0% 100% / 7%);
$--xxhls--others-item-background-color__hover: hsl(0deg 0% 100% / 15%);
$--xxhls--others-item-width: 217px;
$--xxhls--others-item-height: 56px;
$--xxhls--others-item-borderRadius: 8px;
$--xxhls--others-item-icon-size: 32px;
$--xxhls--others-item-text-paddingLeft: 8px;
$--xxhls--others-item-text-fontSize: 16px;
$--xxhls--links-paddingTB: 72px;
$--xxhls--links-width: 1056px;
$--xxhls--links-paddingLeft: 32px;
$--xxhls--link-item-scale: 1.1;
$--xxhls--link-item-width: 232px;
$--xxhls--link-item-height: 196px;
$--xxhls--link-item-borderRadius: 8px;
$--xxhls--link-item-backgroundColor: #FFF;
$--xxhls--link-item-parringRB: 32px;
$--xxhls--link-item-logo-size: 44px;
$--xxhls--link-item-logo-paddingBottom: 16px;
$--xxhls--link-item-text-fontSize: 20px;
$--xxhls--link-item-text-lineHeight: 24px;
$--xxhls--link-item-text-color: rgb(0 0 0 / 90%);
$--xxhls--footer-backgroundColor: #FFFFFF;
$--xxhls--footer-paddingTop: 40px;
$--xxhls--footer-paddingBottom: 32px;
$--xxhls--footer-info-paddingBottom: 8px;
$--xxhls--footer-info-fontSize: 13px;
$--xxhls--footer-info-lineHeight: 1.6;
$--xxhls--footer-info-color: rgb(0 0 0 / 70%);
$--xxhls--footer-record_copyright-paddingBottom: 2px;
$--xxhls--footer-record_copyright-fontSize: 12px;
$--xxhls--footer-record_copyright-lineHeight: 17px;
$--xxhls--footer-record_copyright-color: #000;
$--xxhls--footer-record_copyright-opacity: .5;
