.wrapper {
    padding: $--xxhls--footer-paddingTop 0 $--xxhls--footer-paddingBottom;
    background-color: $--xxhls--footer-backgroundColor;

    a {
        @include a-no-style;
    }
}

.info {
    @include flex-row-xy-center;

    padding-bottom: $--xxhls--footer-info-paddingBottom;

    a, span {
        font-size: $--xxhls--footer-info-fontSize;
        line-height: $--xxhls--footer-info-lineHeight;
        color: $--xxhls--footer-info-color;
    }
}

.record, .copyright {
    @include flex-row-xy-center;

    padding-bottom: $--xxhls--footer-record_copyright-paddingBottom;

    a {
        font-size: $--xxhls--footer-record_copyright-fontSize;
        line-height: $--xxhls--footer-record_copyright-lineHeight;
        color: $--xxhls--footer-record_copyright-color;
        opacity: $--xxhls--footer-record_copyright-opacity;
    }
}
